/*
 * Variables:
 * --main-text: text color
 * --main-text-secondary: text color
 * --main-background: text color
 * --main-background-secondart: text color
 */
:root {
	--main-text: #fff;
	--main-text-secondary: #e2ecf1;
	--main-background: #347EA4;
	--main-background-secondary: #4796b3;
}
