/*
 * Variables:
 * --main-text: text color
 * --main-text-secondary: text color
 * --main-background: text color
 * --main-background-secondart: text color
 */
:root {
	--main-text: #fff;
	--main-text-secondary: #e2ecf1;
	--main-background: #347EA4;
	--main-background-secondary: #4796b3;
}

/* Admin Bar */
.contextual-adminbar-color #wpadminbar {
	color: var(--main-text);
	background: var(--main-background);
}

.contextual-adminbar-color #wp-admin-bar-contextual-adminbar-color-message div {
	color: var(--main-text-secondary);
	background: var(--main-background-secondary);
}

.contextual-adminbar-color #wpadminbar .ab-item,
.contextual-adminbar-color #wpadminbar a.ab-item,
.contextual-adminbar-color #wpadminbar > #wp-toolbar span.ab-label,
.contextual-adminbar-color #wpadminbar > #wp-toolbar span.noticon {
	color: var(--main-text);
}

.contextual-adminbar-color #wpadminbar .ab-icon,
.contextual-adminbar-color #wpadminbar .ab-icon:before,
.contextual-adminbar-color #wpadminbar .ab-item:before,
.contextual-adminbar-color #wpadminbar .ab-item:after {
	color: var(--main-text);
}

.contextual-adminbar-color #wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
.contextual-adminbar-color #wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
.contextual-adminbar-color #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
.contextual-adminbar-color #wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
.contextual-adminbar-color #wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
	color: var(--main-text-secondary);
	background: var(--main-background-secondary);
}

.contextual-adminbar-color #wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
.contextual-adminbar-color #wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label,
.contextual-adminbar-color #wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
	color: var(--main-text-secondary);
}

.contextual-adminbar-color #wpadminbar:not(.mobile) li:hover .ab-icon:before,
.contextual-adminbar-color #wpadminbar:not(.mobile) li:hover .ab-item:before,
.contextual-adminbar-color #wpadminbar:not(.mobile) li:hover .ab-item:after,
.contextual-adminbar-color #wpadminbar:not(.mobile) li:hover #adminbarsearch:before {
	color: var(--main-text);
}

/* Admin Bar: submenu */
.contextual-adminbar-color #wpadminbar .menupop .ab-sub-wrapper {
	background: var(--main-background-secondary);
}

.contextual-adminbar-color #wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
.contextual-adminbar-color #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
	background: var(--main-background-secondary);
}

.contextual-adminbar-color #wpadminbar .ab-submenu .ab-item,
.contextual-adminbar-color #wpadminbar .quicklinks .menupop ul li a,
.contextual-adminbar-color #wpadminbar .quicklinks .menupop.hover ul li a,
.contextual-adminbar-color #wpadminbar.nojs .quicklinks .menupop:hover ul li a {
	color: var(--main-text);
}

.contextual-adminbar-color #wpadminbar .quicklinks li .blavatar,
.contextual-adminbar-color #wpadminbar .menupop .menupop > .ab-item:before {
	color: var(--main-text-secondary);
}

.contextual-adminbar-color #wpadminbar .quicklinks .menupop ul li a:hover,
.contextual-adminbar-color #wpadminbar .quicklinks .menupop ul li a:focus,
.contextual-adminbar-color #wpadminbar .quicklinks .menupop ul li a:hover strong,
.contextual-adminbar-color #wpadminbar .quicklinks .menupop ul li a:focus strong,
.contextual-adminbar-color #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
.contextual-adminbar-color #wpadminbar .quicklinks .menupop.hover ul li a:hover,
.contextual-adminbar-color #wpadminbar .quicklinks .menupop.hover ul li a:focus,
.contextual-adminbar-color #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
.contextual-adminbar-color #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
.contextual-adminbar-color #wpadminbar li:hover .ab-icon:before,
.contextual-adminbar-color #wpadminbar li:hover .ab-item:before,
.contextual-adminbar-color #wpadminbar li a:focus .ab-icon:before,
.contextual-adminbar-color #wpadminbar li .ab-item:focus:before,
.contextual-adminbar-color #wpadminbar li .ab-item:focus .ab-icon:before,
.contextual-adminbar-color #wpadminbar li.hover .ab-icon:before,
.contextual-adminbar-color #wpadminbar li.hover .ab-item:before,
.contextual-adminbar-color #wpadminbar li:hover #adminbarsearch:before,
.contextual-adminbar-color #wpadminbar li #adminbarsearch.adminbar-focused:before {
	color: var(--main-text-secondary);
	text-decoration: underline;
}

.contextual-adminbar-color #wpadminbar .quicklinks li a:hover .blavatar,
.contextual-adminbar-color #wpadminbar .quicklinks li a:focus .blavatar,
.contextual-adminbar-color #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar,
.contextual-adminbar-color #wpadminbar .menupop .menupop > .ab-item:hover:before,
.contextual-adminbar-color #wpadminbar.mobile .quicklinks .ab-icon:before,
.contextual-adminbar-color #wpadminbar.mobile .quicklinks .ab-item:before {
	color: var(--main-text-secondary);
}

.contextual-adminbar-color #wpadminbar.mobile .quicklinks .hover .ab-icon:before,
.contextual-adminbar-color #wpadminbar.mobile .quicklinks .hover .ab-item:before {
	color: var(--main-text-secondary);
}

/* Admin Bar: search */
.contextual-adminbar-color #wpadminbar #adminbarsearch:before {
	color: var(--main-text-secondary);
}

.contextual-adminbar-color #wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
	color: var(--main-text);
	background: var(--main-background-secondary);
}

/* Admin Bar: recovery mode */
.contextual-adminbar-color #wpadminbar #wp-admin-bar-recovery-mode {
	color: var(--main-background);
	background-color: var(--main-text);
}

.contextual-adminbar-color #wpadminbar #wp-admin-bar-recovery-mode .ab-item,
.contextual-adminbar-color #wpadminbar #wp-admin-bar-recovery-mode a.ab-item {
	color: var(--main-background);
	background-color: var(--main-text);
}

.contextual-adminbar-color #wpadminbar .ab-top-menu > #wp-admin-bar-recovery-mode.hover > .ab-item,
.contextual-adminbar-color #wpadminbar.nojq .quicklinks .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus,
.contextual-adminbar-color #wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode:hover > .ab-item,
.contextual-adminbar-color #wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus {
	color: var(--main-background);
	background-color: var(--main-text);
}

/* Admin Bar: my account */
.contextual-adminbar-color #wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
	border-color: var(--main-background-secondary);
	background-color: var(--main-background-secondary);
}

.contextual-adminbar-color #wpadminbar #wp-admin-bar-user-info .display-name {
	color: var(--main-text);
}

.contextual-adminbar-color #wpadminbar #wp-admin-bar-user-info a:hover .display-name {
	color: var(--main-text-secondary);
}

.contextual-adminbar-color #wpadminbar #wp-admin-bar-user-info .username {
	color: var(--main-text);
}
