/*
 * Variables:
 * --main-text: text color
 * --main-text-secondary: text color
 * --main-background: text color
 * --main-background-secondart: text color
 */
:root {
	--main-text: #fff;
	--main-text-secondary: #DCDCDC;
	--main-background: #797676;
	--main-background-secondary: #6C5353;
}
