/*
 * Variables:
 * --main-text: text color
 * --main-text-secondary: text color
 * --main-background: text color
 * --main-background-secondart: text color
 */
:root {
	--main-text: #fff;
	--main-text-secondary: #D2DCCE;
	--main-background: #6B8E23;
	--main-background-secondary: #4F5F28;
}
