/*
 * Variables:
 * --main-text: text color
 * --main-text-secondary: text color
 * --main-background: text color
 * --main-background-secondart: text color
 */
:root {
	--main-text: #fff;
	--main-text-secondary: #f1eae2;
	--main-background: #DF8836;
	--main-background-secondary: #E47817;
}
