/*
 * Variables:
 * --main-text: text color
 * --main-text-secondary: text color
 * --main-background: text color
 * --main-background-secondart: text color
 */
:root {
	--main-text: #fff;
	--main-text-secondary: #C1AAFC;
	--main-background: #483D8B;
	--main-background-secondary: #1C0E54;
}
