/*
 * Variables:
 * --main-text: text color
 * --main-text-secondary: text color
 * --main-background: text color
 * --main-background-secondart: text color
 */
:root {
	--main-text: #fff;
	--main-text-secondary: #f7e3d3;
	--main-background: #CF4845;
	--main-background-secondary: #be3631;
}
